# ***AWS S3 Bucket***

In [ ]:
pip install boto3

In [3]:
# Importing lib
import boto3

#credentials from AWS
ACCESS_KEY = "xx"
SECRET_KEY = "xxxxxxxxxxxxxxxxxxxxxxxxx"

# Creating S3 session
session = boto3.Session(aws_access_key_id=ACCESS_KEY,
                        aws_secret_access_key=SECRET_KEY)

In [4]:
#resource
s3 = session.resource("s3")

#bucket creation
bucket = s3.create_bucket(Bucket="bucket-kayak-projet")

# we create floder named contenet inside it we find kayak.csv file , we could just choose the path as 'kaya.csv'

In [9]:
# Upload csv file to the bucket
put_object = bucket.put_object(Key="kayak.csv", Body='csv')

In [6]:
put_object = bucket.put_object(Key="hotels_dataframe.csv", Body='csv')

# ***RDS Instance (AWS) ***

In [11]:
import psycopg2
from sqlalchemy import create_engine, text
from sqlalchemy.orm import sessionmaker
import pandas as pd

In [21]:

# Define database connection variables
DBHOST = "kayakiheb.clqvblevxvki.eu-north-1.rds.amazonaws.com"
DBUSER = "postgres"
DBPASS = "xxx"
DBNAME = "xx"
PORT="5432"

In [22]:
# Connect to postgresSQL database
engine = create_engine(f"postgresql+psycopg2://{DBUSER}:{DBPASS}@{DBHOST}/{DBNAME}", echo=True)

In [23]:
# Initializing a sessionmaker to talk to our database and open sessions
Session = sessionmaker(bind = engine)
session = Session()

In [4]:

df_meteo=pd.read_csv("/content/kayak.csv")
df_booking=pd.read_csv("/content/hotels_dataframe.csv")

In [10]:

# Create the SQLite in-memory database (fake db)
engine2 = create_engine("sqlite:///:memory:", echo=True)

# Convert and store df_meteo and df_booking data in the SQLite database
df_meteo.to_sql("df_meteo_sql", engine2)
df_booking.to_sql("df_booking_sql", engine2)

# Define a SQLAlchemy connection and execute the queries
with engine2.connect() as connection:
    selection_meteo = text("SELECT * FROM df_meteo_sql")
    result_meteo = connection.execute(selection_meteo)
    df_meteo = pd.DataFrame(result_meteo.fetchall(), columns=result_meteo.keys())

    selection_booking = text("SELECT * FROM df_booking_sql")
    result_booking = connection.execute(selection_booking)
    df_booking = pd.DataFrame(result_booking.fetchall(), columns=result_booking.keys())

# we have the data from the tables in df_meteo and df_booking

2023-08-21 08:28:34,105 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-08-21 08:28:34,108 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("df_meteo_sql")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("df_meteo_sql")

2023-08-21 08:28:34,111 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2023-08-21 08:28:34,116 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("df_meteo_sql")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("df_meteo_sql")

2023-08-21 08:28:34,130 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2023-08-21 08:28:34,136 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

2023-08-21 08:28:34,147 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-08-21 08:28:34,155 INFO sqlalchemy.engine.Engine
CREATE TABLE df_meteo_sql (
	"index" BIGINT,
	"Unnamed: 0" BIGINT,
	citys TEXT,
	rain_mean FLOAT,
	windspeed_mean FLOAT,
	lat FLOAT,
	lon FLOAT
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE df_meteo_sql (
	"index" BIGINT,
	"Unnamed: 0" BIGINT,
	citys TEXT,
	rain_mean FLOAT,
	windspeed_mean FLOAT,
	lat FLOAT,
	lon FLOAT
)

2023-08-21 08:28:34,160 INFO sqlalchemy.engine.Engine [no key 0.00438s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00438s] ()

2023-08-21 08:28:34,172 INFO sqlalchemy.engine.Engine CREATE INDEX ix_df_meteo_sql_index ON df_meteo_sql ("index")

INFO:sqlalchemy.engine.Engine:CREATE INDEX ix_df_meteo_sql_index ON df_meteo_sql ("index")

2023-08-21 08:28:34,179 INFO sqlalchemy.engine.Engine [no key 0.00707s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00707s] ()

2023-08-21 08:28:34,183 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2023-08-21 08:28:34,195 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-08-21 08:28:34,202 INFO sqlalchemy.engine.Engine INSERT INTO df_meteo_sql ("index", "Unnamed: 0", citys, rain_mean, windspeed_mean, lat, lon) VALUES (?, ?, ?, ?, ?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO df_meteo_sql ("index", "Unnamed: 0", citys, rain_mean, windspeed_mean, lat, lon) VALUES (?, ?, ?, ?, ?, ?, ?)

2023-08-21 08:28:34,207 INFO sqlalchemy.engine.Engine [generated in 0.00576s] [(0, 0, 'Mont Saint-Michel', 1.2700000000000002, 6.55875, 48.6359541, -1.511459954959514), (1, 1, 'Saint-Malo', 0.8283333333333335, 7.032500000000001, 48.649518, -2.0260409), (2, 2, 'Bayeux', 1.5266666666666666, 6.734999999999999, 49.2764624, -0.7024738), (3, 3, 'Le Havre', 2.16, 6.992500000000001, 49.4938975, 0.1079732), (4, 4, 'Rouen', 0.7233333333333333, 7.08625, 49.4404591, 1.0939658), (5, 5, 'Paris', 3.555, 4.772499999999999, 48.8534951, 2.3483915), (6, 6, 'Amiens', 0.7366666666666667, 6.95875, 49.8941708, 2.2956951), (7, 7, 'Lille', 0.7933333333333333, 7.04875, 50.6365654, 3.0635282), (8, 8, 'Strasbourg', 4.0575, 4.82125, 48.584614, 7.7507127), (9, 9, 'Château du Haut-Kœnigsbourg', 2.6275, 4.0225, 48.2495226, 7.3454923)]

INFO:sqlalchemy.engine.Engine:[generated in 0.00576s] [(0, 0, 'Mont Saint-Michel', 1.2700000000000002, 6.55875, 48.6359541, -1.511459954959514), (1, 1, 'Saint-Malo', 0.8283333333333335, 7.032500000000001, 48.649518, -2.0260409), (2, 2, 'Bayeux', 1.5266666666666666, 6.734999999999999, 49.2764624, -0.7024738), (3, 3, 'Le Havre', 2.16, 6.992500000000001, 49.4938975, 0.1079732), (4, 4, 'Rouen', 0.7233333333333333, 7.08625, 49.4404591, 1.0939658), (5, 5, 'Paris', 3.555, 4.772499999999999, 48.8534951, 2.3483915), (6, 6, 'Amiens', 0.7366666666666667, 6.95875, 49.8941708, 2.2956951), (7, 7, 'Lille', 0.7933333333333333, 7.04875, 50.6365654, 3.0635282), (8, 8, 'Strasbourg', 4.0575, 4.82125, 48.584614, 7.7507127), (9, 9, 'Château du Haut-Kœnigsbourg', 2.6275, 4.0225, 48.2495226, 7.3454923)]

2023-08-21 08:28:34,219 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2023-08-21 08:28:34,228 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-08-21 08:28:34,234 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("df_booking_sql")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("df_booking_sql")

2023-08-21 08:28:34,240 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2023-08-21 08:28:34,248 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("df_booking_sql")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("df_booking_sql")

2023-08-21 08:28:34,251 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2023-08-21 08:28:34,262 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

2023-08-21 08:28:34,266 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-08-21 08:28:34,275 INFO sqlalchemy.engine.Engine
CREATE TABLE df_booking_sql (
	"index" BIGINT,
	names TEXT,
	links TEXT,
	lat FLOAT,
	lon FLOAT,
	hotel_note FLOAT,
	description TEXT
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE df_booking_sql (
	"index" BIGINT,
	names TEXT,
	links TEXT,
	lat FLOAT,
	lon FLOAT,
	hotel_note FLOAT,
	description TEXT
)

2023-08-21 08:28:34,287 INFO sqlalchemy.engine.Engine [no key 0.01189s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.01189s] ()

2023-08-21 08:28:34,292 INFO sqlalchemy.engine.Engine CREATE INDEX ix_df_booking_sql_index ON df_booking_sql ("index")

INFO:sqlalchemy.engine.Engine:CREATE INDEX ix_df_booking_sql_index ON df_booking_sql ("index")

2023-08-21 08:28:34,298 INFO sqlalchemy.engine.Engine [no key 0.00563s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00563s] ()

2023-08-21 08:28:34,307 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2023-08-21 08:28:34,313 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-08-21 08:28:34,320 INFO sqlalchemy.engine.Engine INSERT INTO df_booking_sql ("index", names, links, lat, lon, hotel_note, description) VALUES (?, ?, ?, ?, ?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO df_booking_sql ("index", names, links, lat, lon, hotel_note, description) VALUES (?, ?, ?, ?, ?, ?, ?)

2023-08-21 08:28:34,324 INFO sqlalchemy.engine.Engine [generated in 0.00530s] [(0, 'Le Général Hôtel', 'https://www.booking.com/hotel/fr/legeneral.fr.html', 48.83, 2.315, 9.0, "Vous pouvez bénéficier d'une réduction Genius dans l'établissement Le Général Hôtel\xa0! Connectez-vous pour économiser. Le Général Hôtel se trouve à ... (819 characters truncated) ... . Les boutiques et les cafés du quartier populaire du Marais sont à 500 mètres. Le Centre Georges Pompidou se trouve à 30 minutes à pied de l'hôtel. "), (1, 'Relais Hôtel du Vieux Paris', 'https://www.booking.com/hotel/fr/relaishotelvieuxparis.fr.html', 48.83, 2.315, 9.1, "Vous pouvez bénéficier d'une réduction Genius dans l'établissement Relais Hôtel du Vieux Paris\xa0! Connectez-vous pour économiser. Le Relais Hôtel d ... (1096 characters truncated) ... d et de l'Est, ainsi qu'aux aéroports d'Orly et de Roissy en RER. Enfin, vous rejoindrez à 800 mètres le jardin du Luxembourg et le musée du Louvre. "), (2, 'Manolita Paris', 'https://www.booking.com/hotel/fr/manolita.fr.html', 48.83, 2.315, 9.5, "Vous pouvez bénéficier d'une réduction Genius dans l'établissement Manolita Paris\xa0! Connectez-vous pour économiser. Situé à Paris, à 500 mètres de ... (646 characters truncated) ...  de la gare Saint-Lazare, de l'opéra Garnier et de la station de métro Gare du Nord. L'aéroport de Paris-Orly, le plus proche, est implanté à 19 km. "), (3, 'SO Paris Hotel', 'https://www.booking.com/hotel/fr/so-paris.fr.html', 48.83, 2.315, 9.0, " Situé à Paris, à moins de 1,2 km de Paris-Gare-de-Lyon, le SO Paris Hotel propose un service de concierge, des chambres non-fumeurs, une terrasse, u ... (778 characters truncated) ...  à proximité de la cathédrale Notre-Dame, de l'Opéra Bastille et du Centre Pompidou. L'aéroport de Paris-Orly, le plus proche, est implanté à 16 km. "), (4, 'Bulgari Hotel Paris', 'https://www.booking.com/hotel/fr/bvlgari-paris.fr.html', 48.83, 2.315, 9.7, " Situé sur l'avenue George V, le Bulgari Hotel Paris est le dernier joyau du Triangle d'Or de la Ville Lumière.L'hôtel, son bar-salon animé, l'élégan ... (1005 characters truncated) ... erez à proximité de l'Arc de Triomphe, de la tour Eiffel et du musée de l'Orangerie. L'aéroport de Paris-Orly, le plus proche, est implanté à 16 km. "), (5, 'Hôtel Monsieur Aristide', 'https://www.booking.com/hotel/fr/monsieur-aristide-paris1.fr.html', 48.83, 2.315, 9.1, "Vous pouvez bénéficier d'une réduction Genius dans l'établissement Hôtel Monsieur Aristide\xa0! Connectez-vous pour économiser. Situé à Paris, l'Hôte ... (575 characters truncated) ...  de concert La Cigale, de la station de métro Pigalle et de la station de métro Gare du Nord. L'aéroport de Paris-Orly, le plus proche, est à 20 km. "), (6, "Paris j'Adore Hotel & Spa", 'https://www.booking.com/hotel/fr/paris-j-39-adore-amp-spa.fr.html', 48.83, 2.315, 9.1, " Situé à Paris, le Paris j'Adore Hotel & Spa vous accueille dans un établissement 5 étoiles avec un restaurant et un bar. Cet hôtel 5 étoiles propose ... (720 characters truncated) ... er et la station de métro Pigalle. L'aéroport le plus proche, celui de Paris-Charles de Gaulle, est accessible à 24 km du Paris j’Adore Hotel & Spa. "), (7, 'Château Voltaire', 'https://www.booking.com/hotel/fr/chateau-voltaire.fr.html', 48.83, 2.315, 9.4, " Idéalement situé à Paris, le Château Voltaire propose des chambres climatisées, un restaurant, une connexion Wi-Fi gratuite et un bar. Chaque héberg ... (543 characters truncated) ... nerez à proximité du musée du Louvre, de l'opéra Garnier et de la gare Saint-Lazare. L'aéroport de Paris-Orly, le plus proche, est implanté à 17 km. ")  ... displaying 10 of 32 total bound parameter sets ...  (30, 'Hotel Ernest', 'https://www.booking.com/hotel/fr/ernest-paris.fr.html', 48.83, 2.315, 8.7, "Vous pouvez bénéficier d'une réduction Genius dans l'établissement Hotel Ernest\xa0! Connectez-vous pour économiser. L'Hotel Ernest propose un héberg ... (770 characters truncated) ... mité de la station de métro Pigalle, de la gare de l'Est et de la salle de concert La Cigale. L'aéroport de Paris-Orly, le plus proche, est à 18 km. "), (31, 'Lyric Hotel Paris Opera', 'https://www.booking.com/hotel/fr/lyric-ha-tel-paris.fr.html', 48.83, 2.315, 8.9, "Vous pouvez bénéficier d'une réduction Genius dans l'établissement Lyric Hotel Paris Opera\xa0! Connectez-vous pour économiser. Le Lyric Hotel Paris  ... (669 characters truncated) ... acement idéal à 80 mètres de la station de métro Quatre Septembre, desservie par la ligne 3, et à 10 minutes de marche de la station de métro Opéra. ")]

INFO:sqlalchemy.engine.Engine:[generated in 0.00530s] [(0, 'Le Général Hôtel', 'https://www.booking.com/hotel/fr/legeneral.fr.html', 48.83, 2.315, 9.0, "Vous pouvez bénéficier d'une réduction Genius dans l'établissement Le Général Hôtel\xa0! Connectez-vous pour économiser. Le Général Hôtel se trouve à ... (819 characters truncated) ... . Les boutiques et les cafés du quartier populaire du Marais sont à 500 mètres. Le Centre Georges Pompidou se trouve à 30 minutes à pied de l'hôtel. "), (1, 'Relais Hôtel du Vieux Paris', 'https://www.booking.com/hotel/fr/relaishotelvieuxparis.fr.html', 48.83, 2.315, 9.1, "Vous pouvez bénéficier d'une réduction Genius dans l'établissement Relais Hôtel du Vieux Paris\xa0! Connectez-vous pour économiser. Le Relais Hôtel d ... (1096 characters truncated) ... d et de l'Est, ainsi qu'aux aéroports d'Orly et de Roissy en RER. Enfin, vous rejoindrez à 800 mètres le jardin du Luxembourg et le musée du Louvre. "), (2, 'Manolita Paris', 'https://www.booking.com/hotel/fr/manolita.fr.html', 48.83, 2.315, 9.5, "Vous pouvez bénéficier d'une réduction Genius dans l'établissement Manolita Paris\xa0! Connectez-vous pour économiser. Situé à Paris, à 500 mètres de ... (646 characters truncated) ...  de la gare Saint-Lazare, de l'opéra Garnier et de la station de métro Gare du Nord. L'aéroport de Paris-Orly, le plus proche, est implanté à 19 km. "), (3, 'SO Paris Hotel', 'https://www.booking.com/hotel/fr/so-paris.fr.html', 48.83, 2.315, 9.0, " Situé à Paris, à moins de 1,2 km de Paris-Gare-de-Lyon, le SO Paris Hotel propose un service de concierge, des chambres non-fumeurs, une terrasse, u ... (778 characters truncated) ...  à proximité de la cathédrale Notre-Dame, de l'Opéra Bastille et du Centre Pompidou. L'aéroport de Paris-Orly, le plus proche, est implanté à 16 km. "), (4, 'Bulgari Hotel Paris', 'https://www.booking.com/hotel/fr/bvlgari-paris.fr.html', 48.83, 2.315, 9.7, " Situé sur l'avenue George V, le Bulgari Hotel Paris est le dernier joyau du Triangle d'Or de la Ville Lumière.L'hôtel, son bar-salon animé, l'élégan ... (1005 characters truncated) ... erez à proximité de l'Arc de Triomphe, de la tour Eiffel et du musée de l'Orangerie. L'aéroport de Paris-Orly, le plus proche, est implanté à 16 km. "), (5, 'Hôtel Monsieur Aristide', 'https://www.booking.com/hotel/fr/monsieur-aristide-paris1.fr.html', 48.83, 2.315, 9.1, "Vous pouvez bénéficier d'une réduction Genius dans l'établissement Hôtel Monsieur Aristide\xa0! Connectez-vous pour économiser. Situé à Paris, l'Hôte ... (575 characters truncated) ...  de concert La Cigale, de la station de métro Pigalle et de la station de métro Gare du Nord. L'aéroport de Paris-Orly, le plus proche, est à 20 km. "), (6, "Paris j'Adore Hotel & Spa", 'https://www.booking.com/hotel/fr/paris-j-39-adore-amp-spa.fr.html', 48.83, 2.315, 9.1, " Situé à Paris, le Paris j'Adore Hotel & Spa vous accueille dans un établissement 5 étoiles avec un restaurant et un bar. Cet hôtel 5 étoiles propose ... (720 characters truncated) ... er et la station de métro Pigalle. L'aéroport le plus proche, celui de Paris-Charles de Gaulle, est accessible à 24 km du Paris j’Adore Hotel & Spa. "), (7, 'Château Voltaire', 'https://www.booking.com/hotel/fr/chateau-voltaire.fr.html', 48.83, 2.315, 9.4, " Idéalement situé à Paris, le Château Voltaire propose des chambres climatisées, un restaurant, une connexion Wi-Fi gratuite et un bar. Chaque héberg ... (543 characters truncated) ... nerez à proximité du musée du Louvre, de l'opéra Garnier et de la gare Saint-Lazare. L'aéroport de Paris-Orly, le plus proche, est implanté à 17 km. ")  ... displaying 10 of 32 total bound parameter sets ...  (30, 'Hotel Ernest', 'https://www.booking.com/hotel/fr/ernest-paris.fr.html', 48.83, 2.315, 8.7, "Vous pouvez bénéficier d'une réduction Genius dans l'établissement Hotel Ernest\xa0! Connectez-vous pour économiser. L'Hotel Ernest propose un héberg ... (770 characters truncated) ... mité de la station de métro Pigalle, de la gare de l'Est et de la salle de concert La Cigale. L'aéroport de Paris-Orly, le plus proche, est à 18 km. "), (31, 'Lyric Hotel Paris Opera', 'https://www.booking.com/hotel/fr/lyric-ha-tel-paris.fr.html', 48.83, 2.315, 8.9, "Vous pouvez bénéficier d'une réduction Genius dans l'établissement Lyric Hotel Paris Opera\xa0! Connectez-vous pour économiser. Le Lyric Hotel Paris  ... (669 characters truncated) ... acement idéal à 80 mètres de la station de métro Quatre Septembre, desservie par la ligne 3, et à 10 minutes de marche de la station de métro Opéra. ")]

2023-08-21 08:28:34,333 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2023-08-21 08:28:34,341 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-08-21 08:28:34,348 INFO sqlalchemy.engine.Engine SELECT * FROM df_meteo_sql

INFO:sqlalchemy.engine.Engine:SELECT * FROM df_meteo_sql

2023-08-21 08:28:34,354 INFO sqlalchemy.engine.Engine [generated in 0.01270s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.01270s] ()

2023-08-21 08:28:34,361 INFO sqlalchemy.engine.Engine SELECT * FROM df_booking_sql

INFO:sqlalchemy.engine.Engine:SELECT * FROM df_booking_sql

2023-08-21 08:28:34,370 INFO sqlalchemy.engine.Engine [generated in 0.00899s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00899s] ()

2023-08-21 08:28:34,375 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK